<app-layout>
    <p-iftalabel>
        <input pInputText id="email" [ngModel]="email()" (ngModelChange)="email.set($event)"
            autocomplete="email" />
        <label for="email">Email</label>
    </p-iftalabel>
    <p-iftalabel>
        <input pInputText type="password" id="password" [ngModel]="password()" (ngModelChange)="password.set($event)"
            autocomplete="off" />
        <label for="password">Hasło</label>
    </p-iftalabel>
    <div class="w-full text-center">
        <a routerLink="/forgot-password" class="text-sm text-primary hover:underline">
            Zapomniałeś hasła?
        </a>
    </div>
    <div class="card flex justify-center">
        <p-button label="Zatwierdź" [loading]="loading()" [disabled]="buttonDisabled()" (onClick)="submit()" />
    </div>
</app-layout>
