<app-layout>
	@let isLoading = initialSessionLoading();
	@let user = userData();

	@if (isLoading) {
		<p-progress-spinner ariaLabel="loading" />
	} @else {
		@if (user) {
			Zalogowany jako {{ user.email }}
			<div class="flex flex-col justify-center items-center gap-1">
				<app-event-calendar />
				<a class="w-48" routerLink="/job-list" pButton>
					<span pButtonLabel>Lista eventów</span>
				</a>
				<a class="w-48" routerLink="/create-job" pButton>
					<span pButtonLabel>Dodaj wydarzenie</span>
				</a>
				<p-button styleClass="w-48" label="Wyloguj się" severity="danger" [loading]="loading()" (onClick)="logout()" />
			</div>
		} @else {
			<a routerLink="/login" pButton>
				<span pButtonLabel>Zaloguj się</span>
			</a>
			<a routerLink="/sign-up" pButton>
				<span pButtonLabel>Utwórz konto</span>
			</a>
		}
	}
</app-layout>