@import 'primeicons/primeicons.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';

html {
	overscroll-behavior: none;
}

body {
	font-family: "Inter", -apple-system, "BlinkMacSystemFont", "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	overscroll-behavior: none;
	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
}

.mc-booking-dark .p-popover {
	--p-popover-background: var(--p-surface-900);
	--p-popover-border-color: var(--p-surface-700);
	--p-popover-color: var(--p-surface-0);
}
