@import 'primeicons/primeicons.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';

html,
body {
	background-color: #075985;
	background-image: linear-gradient(25deg, #0f172a, #075985);
}

body {
	font-family: "Inter", -apple-system, "BlinkMacSystemFont", "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
}

.mc-booking-dark .p-popover {
	--p-popover-background: var(--p-surface-900);
	--p-popover-border-color: var(--p-surface-700);
	--p-popover-color: var(--p-surface-0);
}
